In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [20]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)
answers = {} # создадим словарь для ответов

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
801,tt0905372,35000000,28128670,The Thing,Mary Elizabeth Winstead|Joel Edgerton|Ulrich T...,Matthijs van Heijningen Jr.,It's Not Human. Yet.,When paleontologist Kate Lloyd travels to an i...,103,Horror|Science Fiction|Mystery|Thriller,Universal Pictures|Strike Entertainment|Morgan...,10/12/2011,6.0,2011
1803,tt0208092,10000000,83557872,Snatch,Jason Statham|Brad Pitt|Vinnie Jones|Dennis Fa...,Guy Ritchie,Stealin' Stones and Breakin' Bones.,The second film from British director Guy Ritc...,103,Thriller|Crime,Columbia Pictures Corporation|SKA Films,9/1/2000,7.5,2000
898,tt0279113,8000000,16856124,The Good Girl,Jennifer Aniston|Jake Gyllenhaal|Zooey Deschan...,Miguel Arteta,It's her last best chance... is she going to t...,A discount store clerk strikes up an affair wi...,93,Drama|Comedy|Romance,Fox Searchlight Pictures|Hungry Eye Lowland Pi...,1/12/2002,5.8,2002
1634,tt0364751,19000000,69631118,Without a Paddle,Seth Green|Matthew Lillard|Dax Shepard|Antony ...,Steven Brill,"The call of the wild, the thrill of adventure....","Three friends, whose lives have been drifting ...",95,Action|Adventure|Comedy|Thriller,Paramount Pictures|De Line Pictures,8/20/2004,5.2,2004
1689,tt0765429,100000000,266465037,American Gangster,Denzel Washington|Russell Crowe|Chiwetel Ejiof...,Ridley Scott,There are two sides to the American dream.,Following the death of his employer and mentor...,157,Drama|Crime,Imagine Entertainment|Universal Pictures|Scott...,11/2/2007,7.3,2007

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [55]:


# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget']
data["genres"] = data["genres"].apply(lambda x: x.split("|"))
data["cast"] = data["cast"].apply(lambda x: x.split("|"))
data["director"] = data["director"].apply(lambda x: x.split("|"))
data["production_companies"] = data["production_companies"].apply(lambda x: x.split("|"))
data.release_date = data["release_date"].apply(lambda x: x.split('/'))
data['month'] = data["release_date"].apply(lambda x: x[0])
data['wordsnumber'] = data['overview'].apply(lambda x: len(x.split()))
data['len_name'] = data['original_title'].apply(lambda x: len(x))
data['doble'] = data['cast'].apply(lambda s: list(combinations(s, 2)))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [43]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[5, 11, 2011]",6.3,2011,641683000,5,75,43,"[(Johnny Depp, PenÃ©lope Cruz), (Johnny Depp, ..."

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [44]:
answers['2'] = '2. Gods and Generals (tt0279111)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...","[4, 13, 2011]",6.8,2011,-15540000,4,52,15,"[(Jim Cummings, Travis Oates), (Jim Cummings, ..."

# 3. Какой из фильмов самый короткий (в минутах)?

In [45]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...","[4, 13, 2011]",6.8,2011,-15540000,4,52,15,"[(Jim Cummings, Travis Oates), (Jim Cummings, ..."

# 4. Какова средняя длительность фильмов?

In [46]:
answers['4'] = '4. 109.6585494970884'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [47]:
answers['5'] = '5. 107.0'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [48]:
answers['6'] = '6. Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...","[12, 10, 2009]",7.1,2009,2544505847,12,28,6,"[(Sam Worthington, Zoe Saldana), (Sam Worthing..."

# 7. Какой фильм самый убыточный?

In [49]:
answers['7'] = '7. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7,68,15,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [50]:
answers['8'] = '8. 1478'
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [51]:
answers['9'] = '9. The Dark Knight (tt0468569)'
max_profit8 = data.query('release_year==2008')
max_profit8[max_profit8.profit == max_profit8.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",8.1,2008,816921825,7,67,15,"[(Christian Bale, Michael Caine), (Christian B..."

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [52]:
answers['10'] = '10. The Lone Ranger (tt1210819)'
min_profit = data.query('2012<=release_year<=2014')
min_profit[min_profit.profit == min_profit.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7,68,15,"[(Johnny Depp, Armie Hammer), (Johnny Depp, Wi..."

# 11. Какого жанра фильмов больше всего?

In [53]:
answers['11'] = '11. Drama'
data = pd.read_csv('movie_bd_v5.xls')
Counter(data['genres'].str.cat(sep='|').split('|')).most_common()

# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [56]:
answers['12'] = '12. Drama'
genres_sep = data.explode('genres')
genres_plus = genres_sep[genres_sep.profit > 0]
gen_result = genres_plus.groupby(['genres'])['profit'].count().sort_values(ascending=False)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [57]:
answers['13'] = '13. Peter Jackson'
director_sep = data.explode('director')
director_sep.groupby(['director'])['profit'].aggregate('sum').sort_values(ascending=False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Jack Sholder          -75171919
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Name: profit, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [58]:
answers['14'] = '14. Robert Rodriguez'
genres_sep = data.explode('genres')
director_sep = genres_sep[genres_sep.genres == 'Action'].explode('director')
director_max = director_sep.groupby(['director'])['genres'].count().sort_values(ascending=False)
director_max

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [59]:
answers['15'] = '15. Chris Hemsworth'
profit_max = data[data.release_year == 2012]
cast_sep = profit_max.explode('cast')
result = cast_sep.groupby(['cast'])['profit'].aggregate('sum').sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [60]:
answers['16'] = '16. Tom Cruise'
profit_max = data[data.profit > data.profit.mean()]
cast_sep = profit_max.explode('cast')
result = cast_sep.groupby(['cast'])['profit'].count().sort_values(ascending=False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [61]:
answers['17'] = '17. Action'
cast_sep = data.explode('cast')
nicola_films = cast_sep[cast_sep.cast == 'Nicolas Cage'].explode('genres')
result = nicola_films.groupby(['genres'])['cast'].count().sort_values(ascending=False)

# 18. Самый убыточный фильм от Paramount Pictures

In [62]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
separ = data.explode('production_companies')
vybor = separ[separ.production_companies == "Paramount Pictures"]
vybor[vybor.profit == vybor.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,wordsnumber,len_name,doble
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,"[7, 19, 2002]",6.0,2002,-64831034,7,23,20,"[(Harrison Ford, Liam Neeson), (Harrison Ford,..."

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [63]:
answers['19'] = '19. 2015'
data.groupby(['release_year'])['profit'].aggregate('sum').sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [64]:
answers['20'] = '20. 2014'
warn_br = data.explode('production_companies')
warn_br = warn_br[warn_br['production_companies'].str.contains('Warner Bros')]
result = warn_br.groupby(['release_year'])['profit'].aggregate('sum').sort_values(ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [65]:
answers['21'] = '21. Сентябрь'
month_max = data.groupby(['month'])['original_title'].count().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [66]:
answers['22'] = '22. 450'
len(data.loc[data['month'].isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [67]:
answers['23'] = '23. Peter Jackson'
director_winter = data.loc[data['month'].isin(['12','1','2'])]
director_winter['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
answers['24'] = '24. Universal Pictures'
title_meanlen = data.explode('production_companies')
title_meanlen = title_meanlen.query('len_name > len_name.mean()')
title_meanlen.groupby(['production_companies'])['len_name'].count().sort_values(ascending=False)

production_companies
Universal Pictures                        77
Warner Bros.                              68
Paramount Pictures                        61
Twentieth Century Fox Film Corporation    52
Columbia Pictures                         50
                                          ..
ShadowCatcher Entertainment                1
KC Medien AG                               1
KC Medien                                  1
K5 International                           1
Linson Entertainment                       1
Name: len_name, Length: 988, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [69]:
answers['25'] = '25. Midnight Picture Show'
wordoverview = data.explode('production_companies')
wordoverview.groupby(['production_companies'])['wordsnumber'].aggregate('mean').sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: wordsnumber, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [70]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
vote_sort = data.sort_values('vote_average')[['original_title', 'vote_average']]
vote_sort.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending=False)

                                         original_title  vote_average
599                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
138                            The Grand Budapest Hotel           7.9
1183                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
119                             Guardians of the Galaxy           7.9
1800                                            Memento           7.9
128                                           Gone Girl           7.9
1191                                   12 Years a Slave           7.9
124                                          Big Hero 6           7.8
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1213                                 Dallas Buyers Club           7.8
177                              The Fault in Our Stars           7.8
1188                                                Her           7.8
1444                                       The Prestige           7.8
28                                            Spotlight           7.8
316                                            3 Idiots           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8
1205                                          Prisoners           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [71]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'
data['doble'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
doble_act = data.explode('doble')
doble_act.groupby(['doble'])['original_title'].count().sort_values(ascending=False)

doble
(Daniel Radcliffe, Emma Watson)             8
(Daniel Radcliffe, Rupert Grint)            8
(Rupert Grint, Emma Watson)                 7
(Ben Stiller, Owen Wilson)                  6
(Johnny Depp, Helena Bonham Carter)         6
                                           ..
(Matthew McConaughey, Rene Russo)           1
(Matthew McConaughey, Reese Witherspoon)    1
(Matthew McConaughey, Powers Boothe)        1
(Matthew McConaughey, PenÃ©lope Cruz)       1
(50 Cent, Adewale Akinnuoye-Agbaje)         1
Name: original_title, Length: 18121, dtype: int64

# Submission

In [72]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Tom Cruise',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Universal Pictures',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint',
 '1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 109.6585494970884',
 '5': '5. 107.0',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama'}

In [73]:
# и убедиться что ни чего не пропустил)
len(answers)

27